Source: python-fll
Section: python
Priority: optional
Build-Depends: debhelper (>= 7),
 python-all (>= 2.5),
 python-central (>= 0.6.8),
 python-nose,
 python-configobj,
 asciidoc,
 docbook,
 xsltproc,
 docbook-xml,
 docbook-xsl,
 libxml2-utils
Maintainer: Kel Modderman <kel@otaku42.de>
XS-Python-Version: >=2.5
Standards-Version: 3.8.4

Package: python-fll
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 python-apt (>= 0.7.93),
 python-configobj
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: common infrastructure for the FULLSTORY live Debian media project
 python-fll is a group of modules used by a variety of fll scripts, which are
 used by the FULLSTORY live Debian media build, boot and utility programs.
